@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <div id="countdown"></div>
        <div id="join-game-code" style="display:none"></div>
        <div id="question" style="display:none"></div>
        <div id="player-list" style="display:none"></div>
        <div id="game-finished-view" style="display:none">
            Game over
        </div>
    </div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/dashboard.js"></script>