@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="countdown"></div>
<div class="text-center" id="game-ready">
    <div id="join-game-code"></div>
    <div id="player-list"></div>
</div>

<div class="text-center" id="game-progress" style="display:none">
    <div id="question"></div>
</div>

<div class="text-center" id="game-over" style="display:none">
    <div id="player-list"></div>
    <div id="game-finished-view">
        Game over
    </div>
</div>

<img src="~/images/qr-code.png" style="width: 300px; height: 300px" />

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/dashboard.js"></script>