@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="dashboard-view">
    <div class="text-center" id="game-ready">
        <div class="row ml-0 mr-0" id="game-header">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <span>Next game:</span>
                <div class="countdown"></div>
            </div>
            <div id="logo" class="col-md-6"><span class="big">GAME</span> <span class="mini">OF</span> <span class="big">PENSIONS</span></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row ml-0 mr-0" id="game-ready-1">
            <div class="col-md-4">
                <img id="join-qr" src="~/images/qr-code.png" />
            </div>
            <div class="col-md-4 player-list"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row ml-0 mr-0" id="game-ready-2">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <span>Join at http://gop.openwebpages.co.uk</span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <span>Code:</span>
                <span id="join-game-code"></span>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="text-center" id="game-progress" style="display:none">
        <div class="row ml-0 mr-0" id="game-header">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="countdown"></div>
            </div>
            <div id="logo" class="col-md-6"><span class="big">GAME</span> <span class="mini">OF</span> <span class="big">PENSIONS</span></div>
            <div class="col-md-2 text-center">
                <div style="width:100%">Age</div>
                <div id="player-age"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row ml-0 mr-0" id="game-body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="question"></div>
                <div class="text-center" id="prompt"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row ml-0 mr-0" id="game-footer">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <span>Market Conditions:</span>
                <span style="color: forestgreen">Good</span>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="text-center" id="game-over" style="display:none">
        <div class="row ml-0 mr-0" id="game-header">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <span>Restarting:</span>
                <div class="countdown"></div>
            </div>
            <div id="logo" class="col-md-6"><span class="big">GAME</span> <span class="mini">OF</span> <span class="big">PENSIONS</span></div>
            <div class="col-md-3"></div>
        </div>
        <div id="game-finished-view">
            You retired!
        </div>
        <table class="col-md-12">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Savings</th>
                    <th>Property</th>
                    <th>Pension</th>
                    <th>Net Worth</th>
                </tr>
            </thead>
            <tbody id="player-results">
            </tbody>
        </table>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/dashboard.js"></script>
