@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <div id="join-game-countdown"></div>
        <div id="join-game-code"></div>
        <div id="question"></div>
        <div id="player-list"></div>
    </div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/dashboard.js"></script>