/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
html {
  position: relative;
  min-height: 100%;
}

/*----------------Custom Styles------------------*/

#game-ready {
    background-color: #750034;
    height: 100%;
}

#game-progress {
    background-color: #751137;
    height: 100%;
}

#game-over {
    background-color: #e62248;
    height: 100%;
}

body {
    font-family: "Libre Franklin", sans-serif;
    height: 100vh;
}

#dashboard-view {
    height: 100%;
    font-size: 30pt;
    color: white;
}

#client-view {
    height: 100%;
    font-size: 18pt;
    background-color: #750034;
    color: white;
}

#container, main {
    height:100%;
}

.answer {
    display: block;
    font-size: 2em;
    background-color: #8B4513;
    color: #FFE97F;
    margin: 10px;
}

.confirmedAnswer
{
    border: 5px solid #88ff88;
}

#join-game-code {
    font-size: 72pt;
}

#game-header {
    height: 15vh;
}

#game-ready-1 {
    height: 55vh;
}

#game-ready-2
{
    height: 30vh;
}

#logo {
    font-family: 'Maiandra GD'
}

#logo .big {
    font-size: 2em;
}

#logo .mini {
    font-size: 1.5em;
}

#join-qr {
    width: 200px;
    position:absolute;
    bottom:0px;
    right: 25px;
}

#balance {
    font-size: 0.7em;
}